start-at-login = true

# Available commands : https://nikitabobko.github.io/AeroSpace/commands
after-login-command = []
after-startup-command = []


# See: https://nikitabobko.github.io/AeroSpace/guide#normalization
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

accordion-padding = 16
 
# Possible values: tiles|accordion
default-root-container-layout = 'tiles'
# Possible values: horizontal|vertical|auto
# 'auto' means: wide monitor (anything wider than high) gets horizontal orientation,
#               tall monitor (anything higher than wide) gets vertical orientation
default-root-container-orientation = 'auto'

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

automatically-unhide-macos-hidden-apps = true

# [workspace-to-monitor-force-assignment]
#   1 = ['main']
#   2 = ['main']
#   3 = ['main']
#   4 = ['main']
#   5 = ['main']
#   6 = ['secondary']
#   7 = ['secondary']
#   8 = ['secondary']
#   9 = ['secondary']
#   10 = ['secondary']

# See https://nikitabobko.github.io/AeroSpace/guide#key-mapping
[key-mapping]
    preset = 'qwerty'

[gaps]
    inner.horizontal = 0
    inner.vertical =   0
    outer.left =       0
    outer.bottom =     0
    outer.top =        0
    outer.right =      0

[mode.main.binding]

    # All possible keys:
    # - Letters.        a, b, c, ..., z
    # - Numbers.        0, 1, 2, ..., 9
    # - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
    # - F-keys.         f1, f2, ..., f20
    # - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon,
    #                   backtick, leftSquareBracket, rightSquareBracket, space, enter, esc,
    #                   backspace, tab, pageUp, pageDown, home, end, forwardDelete,
    #                   sectionSign (ISO keyboards only, european keyboards only)
    # - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
    #                   keypadMinus, keypadMultiply, keypadPlus
    # - Arrows.         left, down, up, right
    # All possible modifiers: cmd, alt, ctrl, shift
    # All possible commands: https://nikitabobko.github.io/AeroSpace/commands

    # See: https://nikitabobko.github.io/AeroSpace/commands#exec-and-forget
    # You can uncomment the following lines to open up terminal with alt + enter shortcut
    # (like in i3)
    # alt-enter = '''exec-and-forget osascript -e '
    # tell application "Terminal"
    #     do script
    #     activate
    # end tell'
    # '''

    alt-shift-ctrl-semicolon = 'layout tiles horizontal vertical'
    alt-shift-ctrl-quote = 'layout accordion horizontal vertical'

    alt-shift-ctrl-f = 'layout floating tiling'

    alt-shift-ctrl-y = 'join-with left'
    alt-shift-ctrl-u = 'join-with down'
    alt-shift-ctrl-i = 'join-with up'
    alt-shift-ctrl-o = 'join-with right'

    alt-shift-ctrl-h = 'focus --boundaries-action wrap-around-the-workspace left'
    alt-shift-ctrl-j = 'focus --boundaries-action wrap-around-the-workspace down'
    alt-shift-ctrl-k = 'focus --boundaries-action wrap-around-the-workspace up'
    alt-shift-ctrl-l = 'focus --boundaries-action wrap-around-the-workspace right'

    alt-shift-ctrl-n = 'move left'
    alt-shift-ctrl-m = 'move down'
    alt-shift-ctrl-comma = 'move up'
    alt-shift-ctrl-period = 'move right'

    alt-shift-ctrl-cmd-minus = 'resize smart -200'
    alt-shift-ctrl-cmd-equal = 'resize smart +200'
    alt-shift-ctrl-minus = 'resize smart -50'
    alt-shift-ctrl-equal = 'resize smart +50'

    alt-shift-ctrl-1 = 'workspace 1'
    alt-shift-ctrl-2 = 'workspace 2'
    alt-shift-ctrl-3 = 'workspace 3'
    alt-shift-ctrl-4 = 'workspace 4'
    alt-shift-ctrl-5 = 'workspace 5'
    alt-shift-ctrl-6 = 'workspace 6'
    alt-shift-ctrl-7 = 'workspace 7'
    alt-shift-ctrl-8 = 'workspace 8'
    alt-shift-ctrl-9 = 'workspace 9'
    alt-shift-ctrl-0 = 'workspace 10'

    alt-shift-ctrl-cmd-1 = 'move-node-to-workspace 1'
    alt-shift-ctrl-cmd-2 = 'move-node-to-workspace 2'
    alt-shift-ctrl-cmd-3 = 'move-node-to-workspace 3'
    alt-shift-ctrl-cmd-4 = 'move-node-to-workspace 4'
    alt-shift-ctrl-cmd-5 = 'move-node-to-workspace 5'
    alt-shift-ctrl-cmd-6 = 'move-node-to-workspace 6'
    alt-shift-ctrl-cmd-7 = 'move-node-to-workspace 7'
    alt-shift-ctrl-cmd-8 = 'move-node-to-workspace 8'
    alt-shift-ctrl-cmd-9 = 'move-node-to-workspace 9'
    alt-shift-ctrl-cmd-0 = 'move-node-to-workspace 10'

    alt-shift-ctrl-left = 'move-workspace-to-monitor --wrap-around left'
    alt-shift-ctrl-right = 'move-workspace-to-monitor --wrap-around right'
    alt-shift-ctrl-down = 'move-workspace-to-monitor --wrap-around down'
    alt-shift-ctrl-up = 'move-workspace-to-monitor --wrap-around up'

    alt-shift-ctrl-leftSquareBracket = 'move-workspace-to-monitor --wrap-around prev'
    alt-shift-ctrl-rightSquareBracket = 'move-workspace-to-monitor --wrap-around next'

    # See: https://nikitabobko.github.io/AeroSpace/commands#workspace-back-and-forth
    #alt-tab = 'workspace-back-and-forth'

    alt-shift-ctrl-esc= 'mode service'

[mode.service.binding]
    r = ['reload-config', 'mode main']
    esc = ['flatten-workspace-tree', 'mode main'] # reset layout
    backspace = ['close-all-windows-but-current', 'mode main']
