# vim: ft=bash
#

# generic
alias s='sudo'
alias se='sudo -E'
alias wa='watch -c '
command -v nvim &>/dev/null && alias vim='nvim'
alias v='vim'
alias sv='sudo nvim'
alias c='bat -pp'
alias C='bat --color=always --style=auto'
alias f='fzf'
alias F='fzf --preview='\''bat --color always -p {}'\'''
if command -v exa &>/dev/null; then
  alias tree='exa --tree'
  alias ls='exa'
fi
alias ll='ls -lh --color=auto'
alias l='ls -lah --color=auto'
alias rg='rg -uu'
alias rf='rm -rf' # yolo

if command -v pbcopy &>/dev/null; then # mac
  alias yoink='pbcopy <'
elif command -v wl-copy &>/dev/null; then # wayland
  alias yoink='wl-copy <'
elif command -v xclip &>/dev/null; then # ew, x11
  alias yoink='xclip -selection clipboard -i'
fi

if command -v open &>/dev/null; then # mac
  alias oh='open ./'
  alias o='open'
elif command -v xdg-open &>/dev/null; then # linux
  alias oh='xdg-open ./'
  alias o='xdg-open'
fi

# tmux
alias t='tmux'
alias tls='tmux list-session'
alias tkw='tmux kill-window'
alias tks='tmux kill-session'
alias tkS='tmux kill-server'
alias ta='tmux a'
alias tat='tmux a -t '
# tmuxp: general
alias tpl='tmuxp load -y'
alias tplh'tmuxp load -y ./'
alias tpf='tmuxp freeze -f yaml -o'
alias tpfh='tmuxp freeze -f yaml -o ./.tmuxp.yaml'
# tmuxp: personal
alias tpd='tmuxp load -y ${HOME}/Projects/personal/.tmuxp/dotfiles.yml'
alias tpp='tmuxp load -y ${HOME}/Projects/personal/.tmuxp/current.yml'
alias etpp='nvim ${HOME}/Projects/personal/.tmuxp/current.yml'
alias tplp='tmuxp load -y $(fd -u -t f . ${HOME}/Projects/personal/.tmuxp | fzf --multi --preview='\''bat --color always -p {}'\'')'
alias tpsp='ln -sf $(fd -u -t f . ${HOME}/Projects/personal/.tmuxp | fzf --multi --preview='\''bat --color always -p {}'\'') ${HOME}/Projects/personal/.tmuxp/current.yml'
# tmuxp: work
alias tpw='tmuxp load -y ${HOME}/Projects/work/.tmuxp/current.yml'
alias etpw='nvim ${HOME}/Projects/work/.tmuxp/current.yml'
alias tplw='tmuxp load -y $(fd -u -t f . ${HOME}/Projects/work/.tmuxp | fzf --multi --preview='\''bat --color always -p {}'\'')'
alias tpsw='ln -sf $(fd -u -t f . ${HOME}/Projects/work/.tmuxp | fzf --multi --preview='\''bat --color always -p {}'\'') ${HOME}/Projects/work/.tmuxp/current.yml'


# usbguard
if command -v usbguard &>/dev/null; then # mac
  alias ugl='usbguard list-devices | rg block'
  alias uga='usbguard allow-device --permanent'
fi

# git
alias lg='lazygit'
alias gs='git show'
alias gst='git status'
alias gl='git log --pretty --oneline --color --graph'
alias gls='git log --pretty --oneline --color --graph | head'
alias glv='git log --pretty --color --graph'
alias ga='git add'
alias gaa='git add -A'
alias gaacm='gaa && git commit -m'
alias gaacmp='gaa && git commit && git push'
alias gc='git commit'
alias gcm='git commit -m'
alias gca='git commit --amend'
alias gcan='git commit --amend --no-edit'
alias gcam='git commit -a -m'
alias gcs='git commit -S'
alias gcsm='git commit -S -m'
alias gcsa='git commit -S --amend'
alias gcsan='git commit -S --amend --no-edit'
alias gcsam='git commit -S -a -m'
alias gp='git pull'
alias gps='git push'
alias gr='git reset HEAD'
alias grh='git reset --hard'
alias gitfucked='git reset --hard && git clean -xdf'
alias gd='git diff'
alias gdw='git diff --word-diff'
alias gds='git diff --staged'
alias gdsw='git diff --staged --word-diff'
alias gus='git restore --staged'
alias gwc='git whatchanged'
alias gb='git branch'
alias gbd='git branch -D'
alias gco='git checkout'
alias gcob='git checkout -b'

# podman
alias p='podman'
alias pms='podman machine start'
alias pmst='podman machine stop'

# docker
alias dk='docker'
alias dkps='docker ps'
alias dkpsa='docker ps -a'
alias dkpsaq='docker ps -aq'
alias dkrm='docker rm'
alias dkk='docker kill'
alias dkp='docker prune'
alias dkr='docker run'
alias dkrit='docker run -it'
alias dkrrit='docker run --rm -it'
alias dke='docker exec'
alias dkeit='docker exec -it'
alias dkwipe='docker kill $(docker ps -aq) ; docker rm $(docker ps -aq)'

alias dkvls='docker volume ls'
alias dkvlsq='docker volume ls -q'
alias dkvrm='docker volume rm'
alias dkvclean='docker volume rm $(docker volume ls -q)'

alias dkils='docker image ls'
alias dkilsq='docker image ls -q'
alias dkilsa='docker image ls -a'
alias dkilsaq='docker image ls -aq'
alias dkirm='docker image rm'

alias dkc='docker-compose'
alias dkcp='docker-compose ps'
alias dkcu='docker-compose up'
alias dkcud='docker-compose up -d'
alias dkcudl='docker-compose up -d && docker-compose logs'
alias dkcudlf='docker-compose up -d && docker-compose logs -f'
alias dkcl='docker-compose logs'
alias dkclf='docker-compose logs -f'

alias dkm='docker-machine'
alias dkms='docker-machine ssh $DOCKER_MACHINE_NAME'
alias dkma='docker-machine active'
alias dkml='docker-machine ls'

# kubernetes
command -v kubecolor &>/dev/null && alias kubectl='kubecolor'
command -v minikube &>/dev/null && alias mk='minikube'
alias k='kubectl'
alias kk='k9s'
alias kn='kubens'
alias kc='kubectx'
alias kgn='kubectl get nodes'
alias kgp='kubectl get pods --all-namespaces'
function ka(){
    kubectl "$@" --all-namespaces
}

# it just works 🍎
if command -v brew &>/dev/null; then 
  alias b='brew'
  alias bs='brew search'
  alias binf='brew info'
  alias bi='brew install'
  alias bd='brew uninstall'
  alias bbun="brew bundle dump --brews --casks --taps --mas --force --file ~/.dotfiles/Brewfile"
fi

# arch, btw
if command -v yay &>/dev/null; then 
  alias yays='yay -S'
  alias yeet='yay -Rs'
  alias yolo='yay -Syu --noconfirm'
  alias orphanage='yay -Qtdq | yay -Rns -'
  alias whatpackage='s pacman -Fy'
fi

# nixos
if command -v nixos-rebuild &>/dev/null; then 
  alias nrs='sudo nixos-rebuild switch --impure --flake "/home/user/.dotfiles#user"'
  alias nrsu='sudo nix-channel --update && sudo nix flake update "/home/user/.dotfiles" && sudo nixos-rebuild switch --impure --upgrade --flake "/home/user/.dotfiles#user"'
  alias ngc='nix-collect-garbage -d && sudo nix-collect-garbage -d'
fi
if command -v nix-shell &>/dev/null; then 
  alias nsp='nix-shell -p'
  function nspc(){
      nix-shell -p "$1" --command "$@"
  }
fi

# fedora
if command -v dnf &>/dev/null; then 
  alias d='dnf'
  alias ds='dnf search'
  alias di='sudo dnf install'
fi

# ansible
alias a='ansible'
alias av='ansible-vault'
alias ag='ansible-galaxy'
alias ap='ansible-playbook'

# directories
alias tmd='pushd $(mktemp -d)'
alias tmp='popd'

# aliases
function aq(){
    rg "$1" ~/.aliases -A2 -N
}

# config editing
alias cdd='cd ~/.dotfiles'
alias edf='cdd && nvim'
alias ea='vim ~/.dotfiles/files/.aliases'
alias srca='source ~/.aliases'
alias srcz='source ~/.zshrc'

# tools
alias enc='gpg -a -e'
alias dec='gpg -d'
alias co='code'
alias coh='code .'
alias cr='cargo'
alias crb='cargo b'
alias crc='cargo c'
alias crr='cargo r'
alias tf='terraform'
alias skpc='ssh-keygen -p -f'
alias venva='source bin/activate'
alias tcompress='tar -czvf'
alias tdecompress='tar -xvzf'
alias nsl='nslookup'
function vimify(){
    scp ~/.dotfiles/files/.vimrc.server "$1":~/.vimrc
}

# misc
alias psa='ps aux | rg'
command -v gphoto2 &>/dev/null && alias startcapture='gphoto2 --stdout --capture-movie | ffmpeg -i - -vcodec rawvideo -pix_fmt yuv420p -threads 0 -f v4l2 /dev/video0'
alias showlogs='sudo journalctl -p 3 -xb'
alias fcheck='watch -n 1 grep \"cpu MHz\" /proc/cpuinfo'
alias pcheck='cpupower frequency-info'
alias webserverherewifi='echo "url: https://$(ipconfig getifaddr en0):9000" && python3 -m http.server 9000'

# source machine-specific aliases
# included at the end in order to override any generic aliases defined here
function include() {
  [[ -f "$1" ]] && source "$1"
}

include "$HOME/.aliases-${HOST%%.*}"
