# generic
alias s='sudo'
alias se='sudo -E'
alias wa='watch -c '
alias sv='sudo nvim'
alias b='bat -p'
alias c='bat -pp'
alias tree='exa --tree'
alias ls='exa'
alias ll='ls -lh --color=auto'
alias l='ls -lah --color=auto'
alias yoink='xclip -selection clipboard -i'
alias yoink='wl-copy <'

# tmux
alias tm='tmux'
alias tma='tmux a'
alias tmf='tmuxp load -y $(fd -u -t f . ${HOME}/.config/tmuxp | fzf --multi --preview='\''bat --color always -p {}'\'')'
alias tmat='tmux a -t '

# git
alias gst='git status'
alias gl='git log --oneline --color --graph'
alias glv='git log --pretty --color --graph'
alias ga='git add'
alias gaa='git add -A'
alias gaacm='gaa && git commit -m'
alias gaacmp='gaa && git commit && git push'
alias gc='git commit'
alias gcm='git commit -m'
alias gca='git commit --amend'
alias gcan='git commit --amend --no-edit'
alias gcam='git commit -a -m'
alias gcs='git commit -S'
alias gcsm='git commit -S -m'
alias gcsa='git commit -S --amend'
alias gcsan='git commit -S --amend --no-edit'
alias gcsam='git commit -S -a -m'
alias gp='git pull'
alias gps='git push'
alias gitfucked='git reset --hard && git clean -xdf'
alias gd='git diff'
alias gdw='git diff --word-diff'
alias gds='git diff --staged'
alias gdsw='git diff --staged --word-diff'
alias gus='git reset HEAD'
alias gwc='git whatchanged'
alias gb='git branch'
alias gbd='git branch -D'
alias gco='git checkout'
alias gcob='git checkout -b'

# docker
alias dk='docker'
alias dkps='docker ps'
alias dkpsa='docker ps -a'
alias dkpsaq='docker ps -aq'
alias dkrm='docker rm'
alias dkk='docker kill'
alias dkp='docker prune'
alias dkr='docker run'
alias dkrit='docker run -it'
alias dkrrit='docker run --rm -it'
alias dke='docker exec'
alias dkeit='docker exec -it'
alias dkwipe='docker kill $(docker ps -aq) ; docker rm $(docker ps -aq)'

alias dkvls='docker volume ls'
alias dkvlsq='docker volume ls -q'
alias dkvrm='docker volume rm'
alias dkvclean='docker volume rm $(docker volume ls -q)'

alias dkils='docker image ls'
alias dkilsq='docker image ls -q'
alias dkilsa='docker image ls -a'
alias dkilsaq='docker image ls -aq'
alias dkirm='docker image rm'

alias dkc='docker-compose'
alias dkcp='docker-compose ps'
alias dkcu='docker-compose up'
alias dkcud='docker-compose up -d'
alias dkcudl='docker-compose up -d && docker-compose logs'
alias dkcudlf='docker-compose up -d && docker-compose logs -f'
alias dkcl='docker-compose logs'
alias dkclf='docker-compose logs -f'

alias dkm='docker-machine'
alias dkms='docker-machine ssh $DOCKER_MACHINE_NAME'
alias dkma='docker-machine active'
alias dkml='docker-machine ls'

# kubectl
alias kn='k9s'
alias kubectl='kubecolor'
alias kc='kubectl'
alias kcn='kubectl --all-namespaces'
alias kca='kubectl apply -f'
alias kcgn='kubectl get nodes'
alias kcgp='kubectl get pods --all-namespaces'

# yay / pacman
alias yays='yay -S'
alias yeet='yay -Rs'
alias yolo='yay -Syu --noconfirm'
alias orphanage='yay -Qtdq | yay -Rns -'
alias whatpackage='s pacman -Fy'

# nixos
alias rbs='sudo nixos-rebuild switch --flake "/home/user/.dotfiles#user"'
alias rbsu='sudo nix-channel --update && sudo nix flake update "/home/user/.dotfiles" && sudo nixos-rebuild switch --upgrade --flake "/home/user/.dotfiles#user"'
alias gc='nix-collect-garbage -d && sudo nix-collect-garbage -d'

# ansible
alias a='ansible'
alias av='ansible-vault'
alias ag='ansible-galaxy'
alias ap='ansible-playbook'

# directories
alias cdd='cd ~/.dotfiles'
alias td='pushd $(mktemp -d)'
alias pd='popd'

# aliases
function aq(){
    rg "$1" ~/.aliases -A5 -N --color never
}

# config editing
alias edf='cdd && nvim'

# tools
alias co='code'
alias coh='code .'
alias cr='cargo'
alias crb='cargo b'
alias crc='cargo c'
alias crr='cargo r'
alias tf='terraform'
alias skpc='ssh-keygen -p -f'
alias venva='source bin/activate'
alias vim='nvim'
alias v='nvim'
alias tcompress='tar -czvf'
alias tdecompress='tar -xvzf'
alias nsl='nslookup'

# misc
alias startcapture='gphoto2 --stdout --capture-movie | ffmpeg -i - -vcodec rawvideo -pix_fmt yuv420p -threads 0 -f v4l2 /dev/video0'
alias showlogs='sudo journalctl -p 3 -xb'
alias rf='rm -rf'
alias fcheck='watch -n 1 grep \"cpu MHz\" /proc/cpuinfo'
alias pcheck='cpupower frequency-info'
