[include]
  path = /home/user/.dotfiles/files/.gitconfig_delta_themes
  path = /home/user/.gitconfig-gpg
[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  light = false
	syntax-theme = OneHalfDark
  features = chameleon
  navigate = true
  line-numbers = true
  side-by-side = false

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
[init]
  defaultBranch = main
